@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The GraphQL Playground can be found <a href="graphql_playground">here</a>.</p>
    <p>The Swagger documentation can be found <a href="swagger">here</a>.</p>
</div>
@* 
<form method="post">
    <label>Reload assembly</label>
    <input type="submit" />
</form> *@